{
  "IsEncrypted": false,
  "Values": {
    "FUNCTIONS_WORKER_RUNTIME": "python",
    "PGUSER": "...",
    "PGPASSWORD": "...",
    "PGHOST": "...",
    "PGSSLMODE": "require",
    "PGDATABASE": "...",
    "dbcafleetcaredata_STORAGE": "DefaultEndpointsProtocol=https;AccountName=...;AccountKey=...;EndpointSuffix=core.windows.net"
  }
}
